In [16]:
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
# 데이터 로딩
data1=pd.read_csv('./data/titanic/train.csv')
data2=pd.read_csv('./data/titanic/test.csv')
data3=pd.read_csv('./data/titanic/gender_submission.csv')

In [13]:
# 데이터 병합: test 데이터와 label 데이터를 merge하고 그 데이터를 train에 concat한ㄷ.
data=pd.merge(data2, data3, how='left', on='PassengerId')
data=pd.concat([data1, data], axis=0)
print(data)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
413                                 Spector, Mr. Woolf    male   NaN      0
414                       Oliva y Ocana, Dona. Fermina  female  39.0      0
415                       Saether, Mr. Simon Sivertsen    male  38.5      0
416                                Ware, Mr. Frederick    male   NaN      0
417                           Peter, Master. Michael J    male   NaN      1

     Parch              Ticket      Fare Cabin Embarked
0        0           A/5 21171    7.2500   NaN        S
1        0            PC 17599   71.2833   C85        C
2        0    STON/O2. 3101282    7.9250   NaN        S
3        0              113803   53.1000  C123        S
4        0              373450    8.0500   NaN        S
..     ...                 ...       ...   ...      ...
413      0           A.5. 3236    8.0500   NaN        S
414      0            PC 17758  108.9000  C105        C
415      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416      0              359309    8.0500   NaN        S
417      1                2668   22.3583   NaN        C

[1309 rows x 12 columns]

In [14]:
# Pclass: Ticket class, SibSp: 동승한 형재자매와 배우자, Parch: 동승한 직계가족(부모, 아이), 
# Ticket: Ticket number, Fare: 운임, Cabin: cabin number, Embarked: 출국한(탑승한) 항구()

# EDA를 시작하려면 무엇이 필요한가?
# 관계성? 관계를 나타냄에는 기준이 있어야 하고 기준을 정하는 것은 목적이다.
# 있어보이는 차트? 차트는 정보를 담는 프레임인데 정보는 의미가 담겨 있는 데이터이고, 그 의미는 목적이 결정한다.
# 그래서 가장 먼저 찾을 것은 목적이다.
# 그렇다면 데이터에 대한 어떤 목적을 가져야 할까?
# 데이터가 가지고 있는 특징에서 관심사를 찾아야 할 것이다.
# 데이터를 봤을 때 당장 관심이 가는 것은
# 생존자들의 특징은 무엇인가?
# ticket class와 가족(동행자)의 상관관계
# ticket class는 ticket number와 상관있는가?

# 그렇다면 위와 같은 문제들을 해결하기 위해 가장 먼저 할 일을 무엇인가?
# 문제 해결에 필요한 데이터들만 남기고 나머지는 제거하여 고려할 범위를 줄이는 일이다
# 목적에 따라 다르겠지만 모든 목적에 불필요하다고 생각하는 데이터들부터 줄여야 한다.
# 그렇다면, 어떤 기준으로 데이터를 줄여야 할 것인가?
# 데이터를 줄이는 기준에는 주관이 개입될 수 밖에 없다.
# 그렇다면 생존을 결정할 것 같은 요소, ticket class와 가족 간의 연결고리 등과 무관한 부분을 찾고 제거해야 될 것 같다
# 그래서 이름, Cabin, Embarked를 일차적으로 제거할 것이다.
# rem_col=['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
data= data.drop(['Name', 'Cabin', 'Embarked'], axis=1)


print(data)

     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch  \
0              1         0       3    male  22.0      1      0
1              2         1       1  female  38.0      1      0
2              3         1       3  female  26.0      0      0
3              4         1       1  female  35.0      1      0
4              5         0       3    male  35.0      0      0
..           ...       ...     ...     ...   ...    ...    ...
413         1305         0       3    male   NaN      0      0
414         1306         1       1  female  39.0      0      0
415         1307         0       3    male  38.5      0      0
416         1308         0       3    male   NaN      0      0
417         1309         0       3    male   NaN      1      1

                 Ticket      Fare
0             A/5 21171    7.2500
1              PC 17599   71.2833
2      STON/O2. 3101282    7.9250
3                113803   53.1000
4                373450    8.0500
..                  ...       ...
413           A.5. 3236    8.0500
414            PC 17758  108.9000
415  SOTON/O.Q. 3101262    7.2500
416              359309    8.0500
417                2668   22.3583

[1309 rows x 9 columns]

In [28]:
# 먼저, 결측치를 확인하였다.
print(data.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            263
SibSp            0
Parch            0
Ticket           0
Fare             1
dtype: int64

In [32]:
# Fare 결측치는 제거해도 좋을 정도의 작은 값이니 제거한다.
data=data.dropna(subset=['Fare'])
print(data.isnull().sum())

TypeError: dropna() got an unexpected keyword argument 'subset'

In [ ]:
# 가장 먼저 ticket class와 가족(동행자)의 상관관계를 조사한다.
# 비교 대상이 정해져 있기 때문에 ticket class와
# 형재자매/배우자
# 직계가족
# 형제자매/배우자+직계가족을 비교해 보기로 하였다.
# 형제자매/ 배우자

data_sibsp=data.groupby('Pclass').sum()
x=data_sibsp['Pclass'].to_list()
y=data_sibsp['Pclass'].to_list()


plt.xlabel('0')
plt.bar(x, y)
plt.show()